using System;
using System.Runtime.CompilerServices;

namespace MirrorVM
{
    $REG_STRUCT
    
    $REG_ACCESSORS

    $FRAME_GET(int)
    $FRAME_GET(long)
    $FRAME_GET(float)
    $FRAME_GET(double)

    $FRAME_SET(int)
    $FRAME_SET(long)
    $FRAME_SET(float)
    $FRAME_SET(double)
}
