Menu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #111;
	color: #fff;
	font-family: Poppins;
	pointer-events: all;
	font-size: 16px;
	overflow-y: scroll;
	justify-content: center;
	align-items: flex-start;

	.content {
		max-width: 1100px;
		align-items: center;
		flex-direction: column;

		h1 {
			font-weight: bold;
			font-size: 50px;
			margin-top: 100px;
		}

		.cart-list {
			flex-wrap: wrap;
			margin: 20px;

			.cart {
				flex-direction: column;
				border: 1px solid white;
				width: 200px;
				height: 250px;
				padding: 10px;
				border-radius: 20px;
				margin: 5px;
				cursor: pointer;

				.title {
					height: 40px;
					font-weight: bold;
				}

				img {
					border-radius: 10px;
				}
			}

			.cart:hover {
				background-color: #22C;
			}
		}
	}
}
